.accounts-heading {
  padding-top: var(--spacer-large);
}

.accounts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: var(--spacer-large);
  padding-bottom: var(--spacer-medium);
  max-width: 90%;
}

.account {
  background: #14141a;
  padding: var(--spacer-large);
  text-align: left;
}

.total {
  color: var(--primary-300);
  margin-bottom: var(--spacer-medium);
}

.value {
  font-size: var(--font-large);
}
