.app__header {
  border-bottom: 1px solid var(--background-800);
  height: 70px;
}

.app__nav {
  display: flex;
  align-items: center;
  max-width: var(--max-content-width);
  margin: auto;
  height: 100%;
}
